body {
    font-family: 'Inter', sans-serif;
    background-color: #111827;
    color: #f9fafb;
}

.section {
    background-color: #1F2937;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.paragraph {
    color: #d1d5db;
    margin-bottom: 1rem;
}

.header {
    background-color: #6366f1;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0.5rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
}

.nav {
    margin-right: 1rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin-left: 1rem;
}

.nav-list li {
    margin-left: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: #e0e7ff;
}

.main-content {
    max-width: 80rem;
    margin: 2rem auto;
    padding: 0 1rem;
}

.section-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #a855f7;
    margin-bottom: 1rem;
    animation: color-change 10s infinite alternate;
}

@keyframes color-change {
    0% { color: #a855f7; }
    25% { color: #f43f5e; }
    50% { color: #3b82f6; }
    75% { color: #10b981; }
    100% { color: #a855f7; }
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

@media (min-width: 768px) {
    .about-content {
        flex-direction: row;
    }
}

.about-image {
    width: 100%;
}

@media (min-width: 768px) {
    .about-image {
        width: 33.33333%;
    }
}

.profile-image {
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    border: 2px solid #a855f7;
    width: 80%;
}

.about-text {
     width: 100%;
}
@media (min-width: 768px) {
    .about-text {
        width: 66.66667%;
    }
}

.bulleted-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  list-style-position: inside;
}

.bulleted-list.inner-list {
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.bulleted-list li {
    margin-bottom: 0.5rem;
}

.certifications-grid, .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .certifications-grid, .portfolio-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .certifications-grid, .portfolio-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.certification-card, .portfolio-card, .career-card {
    border: 1px solid #a855f7;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-heading {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #d1d5db;
    margin-bottom: 0.5rem;
}

.card-text, .job-description {
    color: #d1d5db;
}

.career-list {
    margin-top: 1rem;
}

.job-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #d1d5db;
    margin-bottom: 0.5rem;
}

.footer {
    background-color: #374151;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-radius: 0.5rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.socials-heading{
    display: flex;
    justify-content: center;
}

.fa-linkedin {
    font-size: 2em;
    color: #0a66c2;
}

.fa-github {
    font-size: 2em;
    color: #110f0f;
}

.fa-linkedin:hover {
    color: #004182;
}

.fa-github:hover {
    color: #6e5494;
}

@media (max-width: 767px) {
    .main-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .about-content {
        flex-direction: column;
    }

    .about-image, .about-text {
        width: 100%;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav {
        margin-right: 0;
        margin-top: 1rem;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .nav-list li {
        margin: 0.5rem 0;
    }
    .logo{
        margin-left: 0;
    }
    .social-icons {
        justify-content: center;
    }
    header nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    header nav ul li {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        height: 100%;
    }
    header nav {
        margin-right: 0;
    }
    header nav ul li a{
        font-size: 0.7rem;
        padding: 0.2rem 0.5rem;
        white-space: nowrap;
    }
}
