body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: auto;
  width: 100vw;
  background-color: black;
  background-image: url('images/poster.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@media (max-width: 768px) {
  body {
      background-size: contain;
      /* Adjust other styles as needed for smaller screens */
  }
}



.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 470px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,.3);
}

.imgBx {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 3;
  background: #000;
}

.box:hover .imgBx {
  position: absolute;
  transform: translateY(-200px);
  z-index: 3;
}


.imgBx img {
  position: absolute;
  transition:0.5s;
}

.box:hover .imgBx img {
  position: absolute;
  opacity: .5;
}

.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
}

.social-icon li a {
  position: relative;
  display: block;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  background: #fff;
  color: #26a751;
  margin: 0 5px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateY(200px);
  opacity: 0;
}



.box:hover .social-icon li a {
  transform: translateY(0px);
  opacity: 1;
}

.box:hover .social-icon li a .fa {
  transition: 0.5s;
  font-size: 35px;
  line-height: 50px;
}

.box:hover .social-icon li a:hover .fa {
  transform: rotateY(360deg);
  
}

.box:hover .social-icon li:nth-child(1) a {
  transition-delay: 0s;
}

.box:hover .social-icon li:nth-child(2) a {
  transition-delay: .2s;
}

.box:hover .social-icon li:nth-child(3) a {
  transition-delay: .4s;
}

.box:hover .social-icon li:nth-child(4) a {
  transition-delay: .6s;
}

.box:hover .social-icon li:nth-child(5) a {
  transition-delay: .8s;
}

.details {
  position: absolute;
  font-size: 12px;
  color: #d0e1f9;

  bottom: 0;
  left: 0;
  background: #4a4949b8;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
  z-index: 1;
}

.details a {
  font-size: 15px;
  color: #d3caff;
  bottom: 0;
  left: 0;
  background: #ffffff00;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
  z-index: 1;
}

.details h5 {
  font-size: 11px;
  text-align: center;
  color: #d0e1f9;
}

.details h2 {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;

}

.details h2 span {
  color: #d0e1f9;
  font-size: 16px;
  position: relative;
}

.details h2 span a {
  position: relative;
}

.download {
  position: relative;
  left: 170px;
  top: 10%
}